<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
  Skills:
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        {{i}}
        skill name :
        <input type="text" formControlName="skill">
        exp:
        <input type="text" formControlName="exp">
        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>


<mat-icon svgIcon="pencil"></mat-icon>


<button type="button" (click)="addSkills()">Add</button>
